@import url('https://fonts.googleapis.com/css?family=Lato');


.ppl-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: white;
    border: #05386B solid 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ppl-img:first-child{
    margin: auto;
}
.whole-card{
    background-color: whitesmoke;
    box-shadow: 5px 5px;
}

.about-card{
    background-color: lightsteelblue;
    margin: 2em;
    padding: 1em;
    width: 18rem;
}

.card-body > h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #05386B;
    /*font-family: var(--body);*/
}

.social-links {
    margin-top: 2em;
    justify-content: end;
}

.social-links > * {
    margin: .25em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-title{
    color: #05386B;
    font-size: 4em;
}

.card-title > p{
    text-align: center;
    margin-top: .5em;
    font-size: 18px;
}

.profile-card{
    flex-grow: 1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duh{
    justify-content: center;
}

p {
    text-align: center;
}

/*#matthew-pic {*/
/*    margin-left: 6.5vw;*/
/*}*/

