.ppl-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: white;
    border: #05386B solid 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ppl-img:first-child{
    margin: auto;
}

.whole-card{
    background-color: whitesmoke;
    box-shadow: 5px 5px;
}

.about-card{
    background-color: lightsteelblue;
    margin: 2em;
    padding: 1em;
}

.card-body > h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: #05386B;
    /*font-family: var(--body);*/
}

#about-page-h1{
    color: whitesmoke;
}

.social-links {
    margin-top: 2em;
    justify-content: end;
}

.social-links > * {
    margin: .25em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.about-title{
    color: #05386B;
    font-size: 4em;
}

.card-title > p{
    text-align: center;
    margin-top: .5em;
    font-size: 18px;
}

.profile-card{
    flex-grow: 1;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duh{
    justify-content: center;
}

/*#matthew-pic {*/
/*    margin-left: 6.5vw;*/
/*}*/

/*
    ================================
        Best Viewed In Full Page
    ================================
*/

/* Hover over a card to flip, can tab too. */

@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
.flip-card-container *,
.flip-card-container *::after,
.flip-card-container *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
.flip-card-container body {
    /*min-height: 100vh;*/
    /*padding: 40px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background: hsl(220, 10%, 12%);*/
    /*font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;*/
}

/* .flip-card-container */
.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
    width: 310px;
    height: 500px;
    margin: 40px;
    perspective: 1000px;
}

/* .flip-card */
.flip-card {
    width: inherit;
    height: inherit;
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
    border-radius: 24px;
}

.flip-card:hover{
    box-shadow: 0 0 25px 0 rgba(0, 178, 255, 0.63);
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
    /*transform: rotateY(180deg);*/
}

/* .card-... */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .card-front */
.card-front {
    /*transform: rotateY(0deg);*/
    z-index: 2;
}

/* .card-back */
.card-back {
    /*transform: rotateY(180deg);*/
    z-index: 1;
}

/* figure */
.flip-card-container figure {
    z-index: -1;
}

/* figure, .img-bg */
.flip-card-container figure,
.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* img */
img {
    height: 100%;
    border-radius: 24px;
}

/* figcaption */
.flip-card-container figcaption {
    display: flex;
    width: auto;
    margin-top: 12%;
    padding: 0 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
    position: absolute;
    top: 0;
    color: var(--white-1);
    /*background: hsla(var(--hue), 25%, 10%, .5);*/
}

.flip-card-container #card-name {
    padding-top: 35px;
}

/* .img-bg */
.img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
    content: "";
    position: absolute;
    top: 34%;
    left: 50%;
    /*transform: translate(-50%, -50%) rotate(18deg);*/
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
    transition: .1s;
}

.card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
}

/* ul */
.flip-card-container ul {
    padding-top: 50%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: var(--white-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* li */
.flip-card-container li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

.flip-card-container li:nth-child(2n) {
    color: var(--white-2);
}

.flip-card-container li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
}

/* button */
.flip-card-container button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
    letter-spacing: 2px;
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
    cursor: pointer;
}

.flip-card-container button:hover,
.flip-card-container button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
}

.flip-card-container button:active {
    transform: translate(2px);
}

/* .design-container */
.design-container {
    --tr: 90;
    --op: .5;
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* .design */
.design {
    display: block;
    background: var(--grey);
    position: absolute;
    opacity: var(--op);
    transition: .3s;
    z-index: 1;
}

.design--1,
.design--2,
.design--3,
.design--4 {
    width: 1px;
    height: 100%;
}

.design--1,
.design--2 {
    top: 0;
    /*transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))*/
}

.design--1 {
    left: 20%;
}

.design--2 {
    left: 80%;
}

.design--3,
.design--4 {
    bottom: 0;
    /*transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))*/
}

.design--3 {
    left: 24%;
}

.design--4 {
    left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
    width: 100%;
    height: 1px;
}

.design--5,
.design--6 {
    left: 0;
    /*transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));*/
}

.design--5 {
    top: 41%;
}

.design--6 {
    top: 59%;
}

.design--7,
.design--8 {
    right: 0;
    /*transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))*/
}

.design--7 {
    top: 44%;
}

.design--8 {
    top: 56%;
}

/* states */
.flip-card-container button:hover+.design-container,
.flip-card-container button:active+.design-container,
.flip-card-container button:focus+.design-container {
    --tr: 20;
    --op: .7;
}

.abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

#about-card-btn{
    background-color: rgba(107, 107, 107, 0.16);
    z-index: 100;
    opacity: 1;
}

#about-card-btn:hover {
    transform: translate(0, -10px);
    box-shadow: 0 0 20px 0 aqua;
    border-radius: 10px;
    transition: 1s ease;
    /*background-color: rgba(52, 50, 50, 0.95);*/
    /*background-color: rgb(4, 65, 46);*/
    /*background-color: rgba(117, 94, 25, 0.98);*/
    background-color: rgba(241, 238, 231, 0.49);
    /*opacity: 1;*/
}



