.home-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
}

.home-container form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

.home-container form input {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
    display: inline-block;
}

.home-container form .home-search-icon {
    width: 9%;
    font-size: 3rem;
    margin: -9px;
}

#search-results {
    display: flex;
    /*justify-content:space-evenly;*/
    /*flex-wrap: nowrap;*/
}

.home-recipe-card {
    display: flex;
    /* width: 100vw; */
    height: 17rem;
    padding: 10px;
    /* margin: 6rem; */
    background-color: white;
    border-radius: 3rem;
}

.home-card-image {
    /*background-size: cover;*/
    margin: auto;
    /*width: 40vw;*/
    height: auto;
    padding-bottom: 1rem;
}
#home-card-title{
    color: black;
    /*background-color: lightslategrey;*/
    width: 19.5rem;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5rem;
}
.scrolling-wrapper {
    display: flex;
    margin-top: 5vh;
    /*width: 100vw;*/
    /*height: 47.1vh;*/
    /*min-width: 15%;*/
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 25vh;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#search-results::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#search-results {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.flex-wrap{
    flex-wrap: nowrap!important;
}

#home-card-img{
    font-size: 1.16rem;
    border-radius: 2rem;
}

#outer-border{
    border-radius: 5rem;
    color: white;
    border: solid white 10px;
    margin: 1rem;
}
#outer-outer-border{
    border-radius: 7rem;
    color: blue;
    border: solid #d8617d 3px;
    margin: 1rem;
    background-color: white;
    /*box-shadow: 0 0 20px 0 lightslategray;*/
    box-shadow: 0 0 5px 0 lightslategray;
}
#outer-outer-border:hover{
    /*box-shadow: 0px 4px 0px 0px lightslategrey;*/
    /*box-shadow: 0px 4px 15px 0px lightslategrey;*/
    box-shadow: 0px 2px 2px 0px #c2a31c, 0px 4px 11px 0px #d8617d;

    transform: translate(0, -10px);
    /*box-shadow: 0 0 20px 0 lightslategray;*/
    /*border-radius: 10px;*/
    transition: 0.5s ease;
}
