.home-title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
}

.home-container form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
}

.home-container form input {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
    display: inline-block;
}

.home-container form .home-search-icon {
    width: 9%;
    font-size: 3rem;
    margin: -9px;
}

#search-results {
    display: block;
    justify-content: space-between;

}

.home-recipe-card {
    width: 100px;
    height: 200px;
    padding: 10px;

}

.home-card-image {
    width: 100px;
    height: auto;
}