
#indexBody{
    /*background-image: url(img/norway_fjord_2000x1200.jpeg);*/
    background-repeat: no-repeat;
    /*overflow-y: hidden;*/
    /*min-width: 100vh;*/
    /*max-height: 120vh;*/
    background-size: cover;
    /*position: absolute;*/
    overflow: scroll;
    height: 100%;
}
html {
    overflow: scroll;
    height: 100%;
}
