#leftHalf {

    top: 0;
    background-image: url("/img/pexels-photo-255501.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    position: fixed;
    left: 0px;
    height: 100%;
    z-index: 1;
    padding: 0;
}

.leftHalfOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);

}

#rightHalf {
    top: 0;
    background-color: #202A25;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    padding: 10px;
    background-color: #228B22;
    border-radius: 2px;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid;
    text-align: center;
    width: 100%;
}

.btn-primary:hover {
    background-color: #B4E4B6 !important;
    color: #228B22 !important;
    border: 2px solid #228B22 !important;
}

.underline:after {
    content: "";
    display:block;
    border-bottom: 6px solid #228B22;
    width: 70px;
    margin-top: 5px;
}

.aboutTSU {
    width: 50%;
    font-family: 'Work Sans', sans-serif;
}

.landingAboutText {
    text-align: left;
    font-size: 22px;
}
.card-header, .landingAboutText{
    margin-bottom: 30px;
}

.logo{
    height: 500px;
    width: 500px;
    z-index: 3;
}


