div {
    font-family: 'Work Sans', sans-serif;
}

p{
    font-size: 22px;
}

.trophy-earned {
    background-color: #B4E4B6;
    border: 3px solid #000;

}

.trophy-unearned {
    background-color: #FFF;
    border: 3px solid #a7a5a5;
    color: #a7a5a5;
}

/*.trophy-unearned-overlay{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 2;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/

/*}*/

.trophy-card {
    width: 150px;
    height: 250px;

}

.trophy-icon {
    font-size: 5em;
    height: 125px;
    width: 125px;
    z-index: 1;
}

.chef-level-img {
    height: 50px;
    width: 50px;
    border-radius: 0;
}

.chef-card {
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #B4E4B6;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bar-container {
    width: 100%; /* Full width */
    height: 50%;
    background-color: #FFF; /* Grey background */
    align-self: start;
    border: 3px solid #000;
    border-radius: 8px;
}

.skills {
    text-align: right; /* Right-align text */
    /*padding-top: 10px; !* Add top padding *!*/
    /*padding-bottom: 10px; !* Add bottom padding *!*/
    color: white; /* White text color */
    border-radius: 3px;
    padding-right: 10px;
}


.w-65 {
    width: 65%;
}

.html {width: 40%; background-color: #04AA6D;}

.trophy-title {
    font-size: 20px;
}
.skills {
    background-color: #228B22;
}

.underline:after {
    content: "";
    display:block;
    border-bottom: 6px solid #228B22;
    width: 70px;
    margin-top: 5px;
}

.achievement-header {
    margin-bottom: 30px;
}

.achievement-background {
    /*background-color: #F4F4ED;*/
    margin-top: 10px;
    padding-top: 30px;
}


/* CSS */
.button {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: #2c974b;
}

.button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}