#meals-calendar ul {
    width: 100%;
    display: table;
    table-layout: fixed; /* optional, for equal spacing */
    border-collapse: collapse;
    margin: 0;
}
#meals-calendar li {
    display: table-cell;
    font-size: 1.4vw;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
.meal-card {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 6rem;
    border: 0;
}

.meal-card .card-footer {
    color: white;
    background-color: darkslategrey;
    width: 100%;
    font-size: .6rem;
    opacity: 75%;
    border: 0;
    text-shadow: 1px 1px black;
}

.meals-calendar-row {
    height: 20vh;
}
.meals-calendar {
    border: 1px solid black;
}
.timeslot-name {
    width: 3vw;
}

.morning i {
    font-size: 2vw;
}
.noon i {
    font-size: 2vw;
}
.evening i {
    font-size: 1.2vw;
}