/*#recipes-home-card-title{*/
/*    width: 54rem;*/
/*}*/
#recipes-page {
    /*color: var(--text-color-dark);*/
}
#recipes-card-title {
    text-align: center;
}
#recipes-card-img {
    /*width: 100%;*/
    /*border: solid 3px var(--border-color);*/
    border-radius: 7%;
    background-size: cover;
    margin: auto;
    width: 40vw;
    height: auto;
    padding-bottom: 1rem;
}

.ingredient-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: white;
    border: var(--text-color) solid 3px;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
}
.ingredient-card {
    font-size: .8vw;
    box-sizing: border-box;
    /*border-color: var(--border-color);*/
    border-color: black;
    /*background-color: rgba(180, 228, 182, .5);*/
}
.ingredient-card .card-body {
    align-items: center;
}
.ingredient-card .card-header, .ingredient-card .card-footer {
    width: 100%;
    text-align: center;
    z-index: 2;
    border: none;
    /*background: none;*/
}
.ingredient-card .card-footer{
    background: none;
}
#ingredient-cards{
    display: flex;
}


