<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org" lang="en">
<head>
    <style>
        body {
            background-color:lightgoldenrodyellow;
            background-image: url("https://p1.pxfuel.com/preview/469/111/745/spill-drink-beverage-liquid-splash-mess.jpg");
            background-position: top;
            background-size: 210vh;
            background-repeat: no-repeat;
        }
        #error-main {
            /*height: 90vh;*/

        }
    </style>
</head>
<body>
    <div id="error-main" class="container">
        <h1>Something went wrong! </h1>
        <h2>But at least there's a cool looking error page.</h2>
        <a href="/meals">Go Home</a>
    </div>
</body>
</html>