<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org" lang="en">
<head>
    <style>
        body {
            background-color:lightgoldenrodyellow;
            /*background-size: cover;*/
        }
        #error-main {
            height: 90vh;
            background-image: url("https://cdn.pixabay.com/photo/2019/03/12/07/00/clumsy-4050065_1280.png");
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="error-main" class="container">
        <h1>Something went wrong! </h1>
        <h2>But at least there's a cool looking error page.</h2>
        <a href="/meals">Go Home</a>
    </div>
</body>
</html>